
.heading-label {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

#toolbar {
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}


.heading-pane {
    -fx-background-color: rgb(168, 193, 191);
}

.directory-pane {
    -fx-background-color: rgb(53, 206, 193);
}

.mid-game-pane {
    -fx-background-color: rgb(168, 193, 191);
}

.right-game-pane {
    -fx-background-color: rgb(168, 193, 191);
}

.gamebox-pane {
    -fx-background-color: rgb(227, 222, 242);
}
.gamebox-trans-pane {
    -fx-background-color: rgba(227, 222, 242,0.0);
}

.login-pane {
    -fx-background-color: rgba(64, 68, 68, 0.6);
}
.game-help-pane {
    -fx-background-color: rgb(120, 150, 148);
}

.directory-button {
    -fx-background-color: rgb(158, 132, 243);
}
.close-button {
    -fx-background-color: rgba(158, 132, 243,1);
    -fx-font: 20px Tahoma;
    -fx-text-fill: black;
    -fx-stroke-width: 7;
}


#letter-text {
    -fx-font: 30px Tahoma;
    -fx-text-fill: white;

    -fx-stroke-width: 1;
}

#heading-text {
    -fx-font: 120px Tahoma;
    -fx-text-fill: gray;

    -fx-stroke-width: 5;
}
#line {
    -fx-stroke: grey;

    -fx-stroke-width: 4;
}
#yellow-line {
    -fx-stroke: yellow;

    -fx-stroke-width: 15;
}

#subtitle-text {
    -fx-font: 60px Tahoma;
    -fx-text-fill: black;
    -fx-underline: true;
    -fx-text-alignment: center;
    -fx-stroke-width: 3;
}

#game-info-text {
    -fx-font: 20px Tahoma;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-stroke-width: 1;
}

#game-info-text-red {
    -fx-font: 15px Tahoma;
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-stroke-width: 1;
}
#game-info-text-normal {
    -fx-font: 15px Tahoma;
    -fx-text-fill: black;
    -fx-text-alignment: left;
    -fx-stroke-width: 1;
}

#transparent{
    -fx-background-color: rgba(100,75,50,0);
    -fx-font: 30px Tahoma;
    -fx-text-fill: white;
    -fx-stroke-width: 1;
}